*{
    margin: 0;
    padding: 0;
    list-style: none;
}

html,
body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.wrapper{
	width: 100%;
	height: 100%;
	background-color: #1B1B1B;
	display: flex;
	justify-content: center;
	align-items: center;    /* opacity: 0.5; */
}

.wrapper .content{
    display: flex;
    width: 80%;
    height: 80%;
    align-items: center;
    /* border: 1px solid orange; */
    justify-content: space-between;
}

.wrapper .content .item{
    position: relative;
     width: 12%;
     height: 100%;
     color: #fff;
     background-color: #333;
     border-radius: 20px;
     cursor: pointer;
     overflow: hidden;
     transition: height 0.5s ease-in 0.5s, width 0.5s ease-in;
    
     
}

.wrapper .content .item .inner{
    width: 100%;
    height: 100%;
    position: relative;
}
/*背景图片动画*/
.wrapper .content .item:nth-of-type(1) .inner{
    transition: transform 0.5s ease-in 0.1s;
    
}
.wrapper .content .item:nth-of-type(2) .inner{
    transition: transform 0.5s ease-in 0.2s;
    
}
.wrapper .content .item:nth-of-type(3) .inner{
    transition: transform 0.5s ease-in 0.3s;
    
}
.wrapper .content .item:nth-of-type(4) .inner{
    transition: transform 0.5s ease-in 0.4s;
    
}
.wrapper .content .item:nth-of-type(5) .inner{
    transition: transform 0.5s ease-in 0.5s;
    
}
.wrapper .content .item:nth-of-type(6) .inner{
    transition: transform 0.5s ease-in 0.6s;
    
}
.wrapper .content .item:nth-of-type(7) .inner{
    transition: transform 0.5s ease-in 0.7s;
    
}
.wrapper .content .item:nth-of-type(8) .inner{
    transition: transform 0.5s ease-in 0.8s;
    
}
.wrapper .content .item .inner .bjPic{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    opacity: 0.5;
   
}



.wrapper .content .item:nth-of-type(1) .inner .bjPic{
    background-image: url("../img/132.jpg");
    background-size: cover;
    background-position: center;
}
.wrapper .content .item:nth-of-type(2) .inner .bjPic{
   background-image: url("../img/133.jpg");
    background-size: cover;
    background-position: center;
}
.wrapper .content .item:nth-of-type(3) .inner .bjPic{
   background-image: url("../img/134.jpg");
    background-size: cover;
    background-position: center;
}
.wrapper .content .item:nth-of-type(4) .inner .bjPic{
   background-image: url("../img/135.jpg");
    background-size: cover;
    background-position: center;
}
.wrapper .content .item:nth-of-type(5) .inner .bjPic{
    background-image: url("../img/136.jpg");
    background-size: cover;
    background-position: center;
}
.wrapper .content .item:nth-of-type(6) .inner .bjPic{
    background-image: url("../img/137.jpg");
    background-size: cover;
    background-position: center;
}
.wrapper .content .item:nth-of-type(7) .inner .bjPic{
     background-image: url("../img/130.jpg");
    background-size: cover;
    background-position: center;
}
.wrapper .content .item:nth-of-type(8) .inner .bjPic{
    background-image: url("../img/139.jpg");
    background-size: cover;
    background-position: center;
}
.wrapper .content .item .inner .dir{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s linear 0.3s;
}

.wrapper .content .item:hover .inner .bjPic{
    opacity: 1;
}
.wrapper .content .item:hover .inner .dir{
    font-size: 18px;
    font-weight: bold;
}
.wrapper .content .item .showBox{
    width: 100%;
    height: 100%;
    /* position: absolute; */
    opacity: 0;
}
.wrapper .content .item .showBox .showBox-dir{
    position: absolute;
    left: 50px;
    top: 50px;
}
.wrapper .content .item .showBox .close{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 50px;
    top: 50px;
}
.wrapper .content .item .showBox .close::before,
.wrapper .content .item .showBox .close::after{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background-color: #fff;
}
.wrapper .content .item .showBox .close::before{
    transform: rotateZ(45deg);
}
.wrapper .content .item .showBox .close::after{
    transform: rotate(-45deg);
}

/*初始状态*/
.init .content .item .inner{
    transform: translateY(100%);
}

/*点击展示动画*/
.startShowItem .content .item{
    transition: width 0.5s ease-in 0.5s, height 0.5s ease-in;
}
.startShowItem .content .item.active{
    width: 100%;
}
.startShowItem .content .item:not(.active){
    height: 0%;
    width: 0%;
    /* transition: height 0.5s ease-in; */
}
.startShowItem .content .item .inner .dir{
    opacity: 0;
    transition: opacity 0.5s linear 0.2s;
}
.startShowItem .content .item .inner .showBox{
    opacity: 1;
    transition: opacity 0.5s linear 0.5s;
}

